mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className, alt)
  img(src=require(`images/${path}`) class=className alt=`${alt}`)

mixin nav
  -var items= ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
  -var links= ["main", "about-me", "skills", "projects", "reviews", "contact"]
  nav.nav
    ul(class=`nav__block`)
      each item, index in items
        li(class=`nav__item`)
          a(class=`nav__link` href=`#${links[index]}`)= item

mixin socials(mod)
  -var items= [{name: 'instagram', href: '#'}, {name: 'vk', href: '#'}, {name: 'github', href: '#'}]
  ul(class=`socials socials--${mod}`)
    each item in items
      li.socials__item
        a(href=`${item.href}`).socials__link
          +icon(`${item.name}`, 'socials__icon')

mixin table(items)
  table.about-me__information
    each item in items
      tr.about-me__row
        td.about-me__key.about-me__table-cell= `${item.key}`
        td.about-me__property.about-me__table-cell= `${item.property}`

mixin circleSkill(items, titles)
  ul.my-skills__list
    -for(var i=0; i<items.length; ++i)
      li.my-skills__item
        div.my-skills__list-title=`${titles[i]}`
        svg(class="persentage" viewBox="0 0 100 100" preserveAspectRatio="none")
          defs
            lineargradient#gradient(x1="0%" y1="0%" x2="100%" y2="0%")
              stop(offset="0%" stop-color="#f29400")
              stop(offset="100%" stop-color="#ea7400")
          circle(cx="50" cy="50" r="40" class="circle circle__under")
          circle(cx="50" cy="50" r="40" stroke-dashoffset=`${251 - items[i]*2.51}` class="circle circle__above")